*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

nav{
    background-color: #f5f5f7;
    height: 60px;
    width: 100%;
    position: absolute;
}

body{
    animation: fadeNav 4s;
    background: black;
    width: 100%;
}

@keyframes fadeNav {
    from {opacity: 0;}
    to {opacity: 1;}
}


nav .list li{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.nav-logo{
    width: 40px;
    margin-right: 10px;
}

nav .list li span{
    font-size: 18px;
    position: relative;
    bottom: 10px;
}

.login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #f5f5f7;
    background-size: 50%;
    padding: 25px;
    height: 380px;
    width: 450px;
    border-radius: 10px;
    text-align: center;
}

.username{
    margin-bottom: 30px;
}

.password{
    margin-bottom: 20px;
}

.remember{
    position: relative;
    right: 120px;
    margin-right: -110px;
}

.input{
    width: 250px;
    height: 35px;
    padding: 15px;
    background-color: rgb(242,242,247);
    border: 1px solid lightgrey;
    border-radius: 7px;
    outline: none;
    font-size: 14px;
}

.input:focus{
    border-bottom: 2px solid black;
    height: 37px;
}

.submit{
    width: 150px;
    height: 40px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: black;
    outline: none;
}


.login-title{
    margin-bottom: 25px;
    margin-top: 30px;
}

.info{
    padding-top: 80px;
    padding-left: 700px;
    visibility: hidden;
}

.info h1{
    color: white;
    margin-bottom: 30px;
}
.info .search{
    width: 470px;
    height: 35px;
    border: 1px solid grey;
    border-radius: 12px;
    padding-left: 15px;
    outline: none;
    font-size: 14px;
    margin-bottom: -30px;
}

.info .search-btn{
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
    width: 25px;
    position: relative;
    left: 7px;
    top: 7px;
    cursor: pointer;
}

.boxes{
    max-width: 550px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.box{
    background-color: #f5f5f7;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
}

.box h2{
    color: black;
}

.info .boxes .box h3{
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    nav{
        height: 45px;
    }
    .nav-logo{
        width: 30px;
        margin-right: 10px;
    }
    
    nav .list li span{
        font-size: 16px;
        position: relative;
        bottom: 8px;
    }

    .login{
        height: 350px;
        width: 320px;
    }

    .input{
        width: 210px;
        height: 35px;
    }

    .username{
        margin-bottom: 20px;
    }
    
    .password{
        margin-bottom: 20px;
    }

    .submit{
        width: 130px;
        height: 35px;
        font-size: 16px;
        border-radius: 10px;
        border: none;
        color: white;
        background-color: black;
        outline: none;
    }

    .login-title{
        margin-bottom: 30px;
        margin-top: 20px;
    }

    .remember{
        position: relative;
        right: 80px;
        margin-right: -70px;
    }

    .info .search-btn{
        -webkit-filter: invert(100%); 
        filter: invert(100%);
        width: 25px;
        position: relative;
        left: 10px;
        top: 8px;
    }

    .info h1{
        font-size: 27px;
    }

    .info .search{
        width: 260px;
    }

    .info{
        padding-top: 80px;
        padding-left: 0px;
    }
    
    .info .first{
       margin-left: 10%;
    }

    .illustration{
        width: 250px;
        margin-top: -260px;
        margin-bottom: -110px;
    }

    .boxes{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}
